.gymwear{
   
    display: flex;
    flex-direction: column;
    margin-top: 14vh;
 
}

.gymwearcontentobjects{
    background-color: #ffffff;
    flex: 1;
    flex-direction: row;
    display: flex;
    

}
.gymwearcontent{
  background-color: #dfdfdf;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  justify-content: space-around;
  /* padding: 15px; */
  flex: 1;
  margin-left: 15vw;
 
}


.gymwear-item {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
  }

  .gymwearcontainer{
    margin: 50px;
  }
  /* gymwear.css */
/* gymwear.css */

/* ... */

.clothing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    width: 18vw;
    height: 41vh;
    object-fit: contain;
    /* transition: transform 0.3s; */
  }
  
  /* .clothing-item:hover {
    transform: scale(1.10);
  }  */
  
  .clothing-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    
  }
  
  .clothing-name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .clothing-price {
    font-size: 14px;
    color: #777;
  }
  