
.sidebarmaincontent{
    display: flex;

    height: 100vh;
    width: 15vw;
    margin-left: 0px;
}
.sidebarmaincontent h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .sidebarmaincontent h2 svg {
    margin-right: 5px;
  }

  @media screen and (max-width: 767px) {
    .sidebarmaincontent {
        font-size: 12px;
        width: 23vw;
    }
}
@media screen and (max-width: 767px) {
    .headerfilter {
      display: flex;
      flex-direction: row;
      width: 22vw;
      height: 5vh;
      margin: 0px;
    }
  
    .filtericon {
      margin-top: 23px;
      margin-left: 4px;
    }
  
    .filtertext {
      margin-top: 0px;
      margin-left: 3px;
    }
  }
  @media screen and (min-width: 768px){
  .headerfilter{
    display: flex;
    flex-direction: row;
    width: 8vw;
    height: 7vh;
    margin: 7px;
    margin-left: 13px;
  }

  .filtericon{
    margin-top: 18px;
    margin-left: -1px;
  }
  .filtertext{
    margin-top: -1px;
    margin-left: 2px;
  }
}
  


.options {
    margin-top: 80px;
    margin-left: 0px;
  }
  
  .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .option input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .option label {
    font-size: 16px;
  }

 
  .size {
    margin-top: 200px;
    margin-left: -160px;
  }
  
  .size h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .price {
    margin-top: 370px;
    margin-left: -110px;
  }
  
  .price h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }