
.sidebarmaincontent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15vw;
    background-color: white;
}
.sidebarmaincontent h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .sidebarmaincontent h2 svg {
    margin-right: 5px;
  }
  .sidebar-scroll {
    padding-bottom: 20px; /* Add some bottom padding to prevent content from being cut off */
  }

  @media screen and (max-width: 767px) {
    .sidebarmaincontent {
        font-size: 12px;
        width: 23vw;
    }
}
@media screen and (max-width: 767px) {
    .headerfilter {
        display: flex;
      flex-direction: row;
      width: 22vw;
      height: 5vh;
      margin: 0px;
    }
  
    .filtericon {
      margin-top: 23px;
      margin-left: 4px;
    }
  
    .filtertext {
      margin-top: 0px;
      margin-left: 3px;
    }
  }
  @media screen and (min-width: 768px){
  .headerfilter{
    display: flex;
    flex-direction: row;
    width: 15vw;
    height: 7vh;
    margin: 7px;
      
    margin-left: 0px;
    justify-content: center;
  }

  .filtericon{
    margin-top: 18px;
margin-left: -1px;
  }
  .filtertext{
    margin-top: -1px;
margin-left: 2px;
  }
}
  .clothing ,.size , .price{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .option {
   display: flex;
   flex-direction: row;
   padding: 10px;
   font-size: 20px;
  }
  /* .options h2 {
    display: flex;
    justify-content: flex-start;
  } */